.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;  
  background-image: url("../img/P1110445.jpg");  
}

body{
	background-position: fixed;
	max-width: 100%;
}